@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-navy-700;
	background-image: url('/images/navy-topo.svg');
	background-repeat: repeat;
	font-size: 18px;
}

.underline {
	text-underline-offset: 2px;
}

#policy .accordions .accordion .accordion-content .accordion-section {
	padding: 0px 2rem;
}
