@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply bg-navy-700;
	background-image: url('/images/navy-topo.svg');
	font-size: 18px;
}

.hero-bg {
	@apply bg-gray-50;
	background-size: cover;
	background-position: center bottom;
	background-image: url('/images/hero-bg.webp');
}

.gray-topo {
	@apply bg-gray-50;
	background-image: url('/images/gray-topo.svg');
}
